@page
@model Diplom.Web.Areas.Admin.Pages.Employees.Index
@{
    ViewData["Title"] = "Домашняя";
}

<h2>Домашняя</h2>
<a asp-page="Add" class="btn btn-outline-primary btn-sm mb-2">Добавить пользователя</a>
<br />
<a asp-page="List" class="btn btn-outline-primary btn-sm mb-2">Список пользователей</a>
<br />