<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="utf-8">
    <title>Оповещение</title>
</head>
<body>
    @RenderBody()

    <p style="font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 11pt; color: #939393">
        <br>Пожалуйста, не отвечайте на это письмо т.к. оно было отправлено с необслуживаемого адреса.
    </p>

    <p style="font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 11pt">
        ---------<br>
        С уважением,<br>
        Ваш Diplom
    </p>
</body>
</html>