@page
@model Diplom.Web.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Домашняя";
}

<h1 class="display-4">Административная панель</h1>
<a asp-page="Employees/Index" class="btn btn-outline-primary btn-sm mb-2">Пользователи</a>
<br />