<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true">

    <!-- Enable asp.net core layout renderers. -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- The targets to write to. -->
    <targets>
        <!-- Write logs to file. Normally not needed in Development environment.  -->
        <!--<target name="file" xsi:type="File" fileName="${tempdir}\DiplomDevelopmentLogs\${shortdate}.log" layout="${longdate}|${uppercase:${level}}|${logger:shortName=True}|${message} ${exception:format=tostring}" />-->

		<target name="debug" xsi:type="Debugger" />
	</targets>

    <!-- rules to map from logger name to target -->
    <rules>
		<!-- Some too noisy loggers are disabled here. -->
		<logger name="Microsoft.EntityFrameworkCore.Database.Connection" minlevel="Trace" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.ChangeTracking" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="System.Net.Http.HttpClient.Default.*" minlevel="Trace" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.RazorPages.Infrastructure.PageActionInvoker" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.ModelBinding.*" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.RuntimeViewCompiler" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.AspNetCore.Routing.DefaultLinkGenerator" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.AspNetCore.StaticFiles.StaticFileMiddleware" minlevel="Trace" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.HttpsPolicy.HstsMiddleware" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.AspNetCore.Http.Connections.Internal.HttpConnectionContext" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.AspNetCore.HostFiltering.HostFilteringMiddleware" minlevel="Trace" maxlevel="Debug" final="true" />
		<logger name="Microsoft.AspNetCore.Localization.RequestLocalizationMiddleware" minlevel="Trace" maxlevel="Debug" final="true" />
		<!-- Comment out these 2 lines to see EF Core SQL.-->
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Trace" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.Query" minlevel="Trace" maxlevel="Debug" final="true" />

		<!--<logger name="*" minlevel="Trace" writeTo="file" />-->

		<logger name="*" minlevel="Trace" writeTo="debug" />

	</rules>
</nlog>